<header class="site-header" role="banner">
    <div class="wrapper">
        <nav class="site-nav">
            <a class="mail" href="mailto:moritz.weber@posteo.de" title="Mail"></a>
            <a class="github" href="https://github.com/moritz-weber" target="_blank" title="GitHub"></a>
            <a class="gitlab" href="https://gitlab.com/moritz-weber" target="_blank" title="GitLab"></a>
            <a class="xing" href="https://www.xing.com/profile/Moritz_Weber54/cv" target="_blank" title="Xing"></a>
            <a class="linkedin" href="https://www.linkedin.com/in/moritz-weber-386894192/" target="_blank" title="LinkedIn"></a>
        </nav>
    </div>
</header>
