@import "./fa/fontawesome.scss";
@import "./fa/solid.scss";
@import "./fa/brands.scss";

div.trigger {
  width: 150px;
}

.section {
  margin-bottom: 50px;

  h1 {
    border-bottom: 1px solid $text-color;
    font-family: $secondary-font-family;
  }

  &.dark {
    background: $grey-color-dark;
    color: #ffffff;
  }
}

.subsection {
  margin-bottom: 30px;
  display: grid;

  grid-template-areas:
    "time title"
    "time subtitle"
    "time description"
    "time tech";

  grid-template-columns: 120px 1fr;

  @include media-query($on-palm) {
    grid-template-areas:
      "time"
      "title"
      "subtitle"
      "description"
      "tech";

    grid-template-columns: 1fr;
  }

  .time {
    grid-area: time;
    line-height: 19px;
    padding-top: 4px;
  }

  .title {
    grid-area: title;
    font-size: 19px;
    line-height: 1;
    padding: 4px 0;
    font-weight: 600;
  }

  .type {
    grid-area: subtitle;
    color: $grey-color;
    line-height: 1;
  }

  .description {
    grid-area: description;
  }

  .tech {
    grid-area: tech;
  }

  .description {
    margin: 10px 0;
  }
}

.language,
.framework {
  background: $light;
  border-radius: 14px;
  padding: 1px 12px;
  display: inline-block;
  line-height: 26px;
  margin: 0 2px 4px 0;
}

.afk {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;

  .activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 110%;
    padding: 5px;
  }

  img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

.site-nav {
  a {
    margin-left: 5px;
    padding: 2px;
    font-size: 120%;

    &:hover {
      text-decoration: none;
    }
  }
}

.mail {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-envelope);
  }
}

.github {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-github);
  }
}

.gitlab {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-gitlab);
  }
}

.xing {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-xing);
  }
}

.linkedin {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-linkedin);
  }
}

.section.first {
  margin-bottom: 80px;

  #name {
    font-family: $secondary-font-family;
    font-size: 56px;
    line-height: 50px;
    padding: 16px 0;
    color: $brand-color;
    font-weight: 600;
    display: block;
  }

  .about {
    font-size: 120%;
  }
}
