---
layout: default
---

<div class="home">

  <ul>
  {% for project in site.data.projects %}
    <li>
      {{ project.title }} | 
      {% for lang in project.languages %}
          <img src="assets/img/{{ lang | slugify }}.svg" title="{{ lang }}" class="icon">
      {% endfor %}
    </li>
  {% endfor %}
  </ul>

  {{ content }}

  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
